body {
  background-color: #effffd;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  display: flex;
  color: #242323;
}

body.disable-scroll {
  overflow: hidden;
}

#main-content {
  position: fixed;
  top: 0;
}

h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
}

main {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
  text-align: center;
  z-index: 1;
  display: block;
  background: rgba(255, 255, 255, 0.868);
  border-radius: 2rem;
  padding: 3rem;
}

header {
  position: relative;
  z-index: 2;
  width: 50%;
  margin: 0 auto;
}

.profile-pic {
  border-radius: 50%;
  margin-bottom: 2rem;
}

p {
  position: relative;
  z-index: 2;
}

.preloader {
  background: #03a9f4;
  z-index: 1;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  cursor: pointer;
}

section {
  text-align: left;
}

ul {
  list-style-type: disclosure-closed;
  padding-inline-start: 20px;
}

li {
  text-align: justify;
}

.experience-container {
  display: flex;
  align-items: center;
}

body #experience-timeline .timeline-top {
  text-align: center;
}

body #experience-timeline .timeline-top .top-label {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #03a9f4;
  color: #fff;
  line-height: 80px;
  text-align: center;
  font-size: 2.8rem;
}

body #experience-timeline .timeline-top .top-label > span {
  font-size: 2rem;
}

body #experience-timeline .timeline-block {
  width: 100%;
  height: auto;
  position: relative;
}

body #experience-timeline .timeline-block:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #03a9f4;
  left: 50%;
  top: 0;
  margin-left: -2px;
}

body #experience-timeline .timeline-block .timeline-events .l-event {
  float: left;
  position: relative;
}

body #experience-timeline .timeline-block .timeline-events .l-event .thumb {
  right: 0;
  transform: translate(50%, -50%);
}

body #experience-timeline .timeline-block .timeline-events .l-event:before,
body #experience-timeline .timeline-block .timeline-events .l-event:after {
  position: absolute;
  content: "";
  color: #333;
  width: 40px;
  height: 40px;
  background: #fff;
  transform: translate(50%, -50%);
  border-radius: 20px;
  z-index: 4;
  top: 50%;
  right: 0;
}

body #experience-timeline .timeline-block .timeline-events .l-event:after {
  width: 60px;
  height: 60px;
  z-index: 3;
  border-radius: 30px;
  background: #03a9f4;
}

body
  #experience-timeline
  .timeline-block
  .timeline-events
  .l-event
  .event-body:before {
  position: absolute;
  content: "";
  color: #333;
  width: 16px;
  height: 16px;
  background: #fff;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  transform: rotate(45deg) translate(-50%, -50%);
  border-radius: 3px;
  top: 50%;
  right: -8px;
}

body #experience-timeline .timeline-block .timeline-events .r-event {
  float: right;
  position: relative;
}

body #experience-timeline .timeline-block .timeline-events .r-event .thumb {
  left: 0;
  transform: translate(-50%, -50%);
}

body #experience-timeline .timeline-block .timeline-events .r-event:before,
body #experience-timeline .timeline-block .timeline-events .r-event:after {
  position: absolute;
  content: "";
  color: #333;
  width: 40px;
  height: 40px;
  background: #fff;
  color: #333;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  top: 50%;
  left: 0px;
  z-index: 4;
}

body #experience-timeline .timeline-block .timeline-events .r-event:after {
  width: 60px;
  height: 60px;
  z-index: 3;
  border-radius: 30px;
  background: #03a9f4;
}

body
  #experience-timeline
  .timeline-block
  .timeline-events
  .r-event
  .event-body {
  float: right;
  transform: perspective(1000px) rotateY(-4deg);
}

body
  #experience-timeline
  .timeline-block
  .timeline-events
  .r-event
  .event-body:before {
  position: absolute;
  content: "";
  color: #333;
  width: 16px;
  height: 16px;
  background: #fff;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transform: rotate(45deg) translate(-50%, -50%);
  border-radius: 3px;
  top: 50%;
  left: -8px;
}

body #experience-timeline .timeline-block .event {
  min-height: 100px;
  background: none;
  position: relative;
  box-shadow: 0px 40px 14px -35px #ccc, 0px -40px 14px -35px #ccc;
  margin-top: 20px;
}

body #experience-timeline .timeline-block .event .thumb {
  font-size: 30px;
  position: absolute;
  top: 50%;
  color: #333;
  z-index: 5;
}

body #experience-timeline .timeline-block .event .event-body {
  background-color: #fff;
  min-height: 100px;
  border-radius: 5px;
  padding: 1.5rem;
  width: 90%;
  position: relative;
  border: 1px solid #eee;
}

@media (max-width: 768px) {
  body #experience-timeline .timeline-top {
    text-align: right;
    padding-right: 20%;
  }
  body .timeline-block {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #eee;
  }
  body .timeline-block:after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #333;
    left: 5%;
    top: 0;
    margin-left: -3px;
    display: none;
  }
  body .timeline-block .r-event .event-body:after {
    content: "";
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #03a9f4;
    left: -30%;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #fff;
  }
  body .timeline-block .l-event .event-body:after {
    content: "";
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #03a9f4;
    right: -30%;
    border-radius: 3px;
    box-shadow: -1px 1px 1px #fff;
  }
}

body .footer-up {
  bottom: 0;
}

body footer {
  background: #fff;
  padding: 10px 0;
  border-top: 1px solid #eee;
  transition: bottom 1s ease-in-out;
  position: fixed;
  width: 100%;
  bottom: -100%;
  left: 0;
  z-index: 9;
}

body footer a {
  padding: 5px;
}

body .social {
  color: #999;
  letter-spacing: 1px;
}

body .social i {
  background: #eee;
  color: #777;
  padding: 5px;
  border-radius: 50%;
}

body .social i:hover {
  color: #111;
}

body .social .follow {
  animation: light 0.8s ease-in-out infinite forwards;
}

@keyframes light {
  to {
    color: #111;
  }
}

.wrapper-container {
  background: white;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid #eee;
}

.project-item {
  display: flex;
}

.project-item-content {
  margin-left: 3rem;
}

.project-overlay {
  position: absolute;
  width: 300px;
  height: 200px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

.project-overlay > i {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.project-close {
  z-index: 6;
  font-size: 5rem;
  position: fixed;
  top: 0;
  right: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.project-expand {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  cursor: pointer;
  border-radius: 0;
  border: none;
}

iframe {
  border-radius: 1rem;
  border: 1px solid #e5e7e8;
  width: 300px;
  height: 200px;
}

.logo-left {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: -50%;
}

.logo-right {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 150%;
}

.logo-right > img {
  width: 200px;
  transition: transform 0.5s ease-out, filter 0.5s ease;
}

.logo-left > img {
  width: 200px;
  transition: transform 0.5s ease-out, filter 0.5s ease;
}

.logo-right > img:hover {
  filter: drop-shadow(4px 5px 10px rgba(0, 0, 0, 0.7));
  transform: translateY(-0.5rem);
}

.logo-left > img:hover {
  filter: drop-shadow(4px 5px 10px rgba(0, 0, 0, 0.7));
  transform: translateY(-0.5rem);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.05);
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.05);
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
    transform: scale(1);
  }
}

.animation {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
