.profile-pic {
  border-radius: 50%;
  margin-bottom: 2rem;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center 10%;
}

p {
  position: relative;
  z-index: 2;
  font-family: "Work Sans", sans-serif;
}

.typed-cursor {
  font-size: 1.5rem;
  padding: 0 5px;
}

@media (max-width: 768px) {
  .profile-pic {
    width: 140px !important;
    height: 140px !important;
  }

  .intro-title {
    font-size: 2.25rem !important;
  }
}
